body {
    width: 100%;
    margin: 0 auto;
    color: rgb(104, 102, 102);
}
main {
    height: 200rem;
    position: relative;
    top: 4rem;
}

/* NAVIGATION BAR */

.navigator {
    height: 64px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
}
.left, .right {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.left .word-1 {
    color: rgb(82, 80, 80);
    font-weight: 900;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}
.left .word-2 {
    color: rgb(153, 153, 153);
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}
.left img {
    width: 2.5rem;
}
.right p {
    padding-right: 16px;
    font-size: 1.2rem;
}

/* INTRO */


.intro {
    width: 100%;
    background-color: rgb(218, 218, 218);
}
.intro img {
    width: 56.7%;
    padding: 32px 24px;
}
.content {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.semi-content {
    width: 30rem;
    height: 20rem;
    display: block;
    padding-left: 40px;
    padding-top: 100px;
    color: rgb(82, 80, 80);
    margin: 0;
}
.semi-content h1 {
    font-size: 3.5rem;
    margin: 20px 0px;
}
.semi-content h3 {
    font-size: 1.5rem;
    margin: 20px 0px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.semi-content .box-1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 3rem;
    background-color: rgb(82, 80, 80);
    color: white;
    font-weight: 700;
}


/* MAIN SECTION PART-1 */
.part-1 {
    width: 100%;
    display: inline-flex;
}
.part-1-left {
    padding: 32px 24px;
    width: 60%;
}
.part-1-left img {
    width: 100%;
}
.part-1-left-bottom {
    width: 80%;
}
.part-1-left-bottom h2 {
    font-size: 2rem;
    color: rgb(82, 80, 80);
}
.part-1-left-bottom p {
    word-spacing: 2px;
}
.part-1-left-bottom .credits {
    padding-top: 14px;
    word-spacing: normal;
    font-weight: 900;
}

.part-1-right {
    padding: 16px 0px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cards {
    display: inline-flex;
    align-items: center;
}
.cards img {
    height: auto;
    width: 31%;
    padding: 16px;
}
.card-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-right h4,p {
    margin: 8px;
}
.card-right h4 {
    font-size: 1.2rem;
    color: rgb(82, 80, 80);
}

.card-right .read-more {
    color: rgb(105, 105, 245);
    
}
.cards:hover {
    background-color: rgb(218, 218, 218);
}

/* FOOTER SECTION*/
footer hr {
    width: 98%;
    opacity: 0.3;
}
.foot-left  {
    width: 100%;
    height: 5rem;
    display: inline-flex;
    justify-content: space-between;
}
footer p {
    padding-left: 24px;
}
.foot-right {
    display: inline-flex;
    padding-right: 24px;
}
.foot-right p {
    padding-right: 10px;
}