html {
    font-size: 16px;
}
body {
    width: 100%;
    margin: 0 auto;
    color: rgb(104, 102, 102);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    height: 210rem;
    position: relative;
    top: 4rem;
}
.section-title {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    color: rgb(82, 80, 80);
    padding: 32px 0px;
}
.navigator-mobile {
    display: none;
}
.intro-mobile {
    display: none;
}
.part-1-mobile {
    display: none;
}
.part-2-mobile {
    display: none;
}
.part-3-mobile {
    display: none;
}
.foot-mobile {
    display: none;
}


/* NAVIGATION BAR */

.navigator-desktop {
    height: 64px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
}
.left, .right {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.left .word-1 {
    color: rgb(82, 80, 80);
    font-weight: 900;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}
.left .word-2 {
    color: rgb(153, 153, 153);
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}
.left img {
    width: 2.5rem;
}
.right p {
    padding-right: 16px;
    font-size: 1.2rem;
}

.navigator-mobile {
    display: none;
}
/* INTRO */


.intro {
    width: 100%;
    background-color: rgb(218, 218, 218);
}
.intro img {
    width: 56.7%;
    padding: 32px 24px;
}
.content {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.semi-content {
    width: 30rem;
    height: 20rem;
    display: block;
    padding-left: 40px;
    padding-top: 100px;
    color: rgb(82, 80, 80);
    margin: 0;
}
.semi-content h1 {
    font-size: 3.5rem;
    margin: 20px 0px;
}
.semi-content h3 {
    font-size: 1.5rem;
    margin: 20px 0px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.semi-content .box-1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 3rem;
    background-color: rgb(82, 80, 80);
    color: white;
    font-weight: 700;
}


/* MAIN SECTION PART-1 */
.part-1 {
    width: 100%;
    display: inline-flex;
}
.part-1-left {
    padding: 32px 24px;
    width: 60%;
    border-right: 1px solid rgb(218, 217, 217);
    
}
.part-1-left img {
    width: 100%;
}
.part-1-left-bottom {
    width: 80%;
}
.part-1-left-bottom h2 {
    font-size: 2rem;
    color: rgb(82, 80, 80);
}
.part-1-left-bottom p {
    word-spacing: 2px;
    margin: 0 auto;
}
.part-1-left-bottom .credits {
    padding-top: 50px;
    word-spacing: normal;
    font-weight: 900;
}

.part-1-right {
    padding: 16px 0px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cards {
    display: inline-flex;
    align-items: center;
    
}

.cards img {
    height: auto;
    width: 31%;
    padding: 16px;
}
.card-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-right h4,p {
    margin: 8px;
}
.card-right h4 {
    font-size: 1.2rem;
    color: rgb(82, 80, 80);
}

.card-right .read-more {
    color: rgb(105, 105, 245);
    
}
.cards:hover {
    background-color: rgb(218, 218, 218);
}


/* MAIN SECTION PART 2 */
.part-2 {
    background-color: rgb(218, 218, 218);
    width: 100%;
    padding: 32px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 72px;
    margin: 0;
}
.box-container {
    padding: 10px 20px;
    width: 25%;
    
}
.boxes {
    display: block;
    background-color: white;
}
.boxes img {
    height: auto;
    width: 100%;
}
.box-details {
    padding: 16px;
    height: 170px;
}
.box-details h3 {
    color: rgb(82, 80, 80);
    font-size: 1.4rem;
}
.box-details p {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
}


/* SECOND PART-1 */
.title-second {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    color: rgb(82, 80, 80);
    padding: 64px 0px 32px 0px;
}
.second-right {
    justify-content: flex-start;
}
.second-left {
    border: none;
}
.second-left video {
    width: 100%;
    height: 100%;
}


/* FOOTER SECTION*/
footer hr {
    width: 98%;
    opacity: 0.3;
}
.foot-left  {
    width: 100%;
    height: 5rem;
    display: inline-flex;
    justify-content: space-between;
}
footer p {
    padding-left: 24px;
}
.foot-right {
    display: inline-flex;
    padding-right: 24px;
}
.foot-right p {
    padding-right: 10px;
}


/* MOBILE DEVICES */
@media only screen and (max-width: 480px) {
    html {
      font-size: 20px;
    }
    main {
        width: 25.38rem;
        top: 3rem;
        height: auto;
    }
    img {
        width: 100%;
    }
    .navigator-desktop {
        display: none;
    }
    .intro {
        display: none;
    }
    .part-1 {
        display: none;
    }
    .part-2 {
        display: none;
    }
    .title-second {
        display: none;
    }
    .foot-desktop {
        display: none;
    }
    hr {
        display: none;
    }
}
/* NAVIGATION BAR FOR MOBILE DEVICES */
@media only screen and (max-width: 480px) {
    .navigator-mobile {
        height: 64px;
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: white;
    }
    .navigator-mobile img {
        width: 2rem;
    }
}
/* INTRODUCTION FOR MOBILE DEVICES */
@media only screen and (max-width: 480px) {
    .intro-mobile {
        width: 25.38rem;
        display: block;
    }
    .content-mobile {
        width: 100%;
        background-color: rgb(218, 218, 218);
    }
    .content-details {
        padding: 32px 16px;
    }
    .content-details h1 {
        padding-bottom: 32px;
        color: rgb(82, 80, 80);
        font-size: 2.5rem;
    }
    .content-details h3 {
        padding-bottom: 24px;
    }
    .box-1-mobile {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3rem;
        background-color: rgb(82, 80, 80);
        color: white;
        font-weight: 700;
    }
    .box-1-mobile p {
        margin: 0;
    }   
}

/* MAIN PART 1 FOR MOBILE DEVICES */
@media only screen and (max-width: 480px) {
    .part-1-mobile {
        width: 23.8rem;
        display: block;
        padding: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    }
    .cards-details {
        padding: 1rem;
    }
    .cards-details h4, p {
        margin: 0;
        padding: 0.5rem;
    }
    .cards-details h4 {
        font-size: 1.4rem;
        color: rgb(82, 80, 80);
    }
    .cards-details .read-more {
        color: rgb(105, 105, 245);
    }
}

/* MAIN PART 2 FOR MOBILE DEVICES */
@media only screen and (max-width: 480px) {
    .part-2-mobile {
      display: block;
      margin: 0 auto;
      width: 25.38rem;
      padding-top: 2rem;
    }
    .part-2-mobile .title {
        text-align: center;
        color: rgb(82, 80, 80);
        margin: 0;
        padding-bottom: 2rem;
        font-size: 2rem;
    }
    .big-container {
        border-bottom: 1px solid rgba(0, 0, 0, 0.082);
        padding-bottom: 2rem;
    }
    .container-mobile {
      padding: 0.5rem 1.5rem;
      
    }
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(218, 218, 218);
        height: 5rem;   
    }
    .box h1 {
        padding-left: 1rem;
        font-size: 1.2rem;
    }
}

/* MAIN PART 3 FOR MOBILE DEVICES */
@media only screen and (max-width: 480px) {
    .part-3-mobile {
        display: block;
        margin: 0 auto;
        width: 25.38rem;
        padding-top: 2rem;
        padding-bottom: 5rem;
      }
    .part-3-mobile .title {
        text-align: center;
        color: rgb(82, 80, 80);
        margin: 0;
        padding-bottom: 2rem;
        font-size: 2rem;
    }
    .part-3-mobile video {
        width: 100%;
        height: 15rem;
    }
}

/* FOOTER FOR MOBILE DEVICES */
@media only screen and (max-width: 480px) {
    footer {
        width: 25.38rem;
    }
    .foot-mobile {
        display: block;
        margin: 0 auto;
        font-size: 0.7rem; 
        padding: 2rem;
    }
    
}